<% if student_signed_in? %>
  <div align="right">
    Logged in as <%= current_student.email %>
    <form action="<%= destroy_student_session_path %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log out" class="btn btn-danger">
    </form>
  </div>
<% else %>
  <div align="right"><%= link_to 'Log in', new_student_session_path %></div>
<% end %>
