<!DOCTYPE html>
<html>
  <head>
    <title>Wartime App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <%= render partial: '/layouts/logged_in' %>
      <%= yield %>
    </div>
  </body>
</html>
