<h1><%= t('webui.students.index.title') %></h1>
<table class="table">
  <thead>
    <tr>
      <th><%= t('webui.students.index.name') %></th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.full_name %></td>
      <td><%= student.email %></td>
      <td class="actions">
        <% if Ability.new(current_student).can?(:update, Student) %>
          <%= link_to 'Edit', 'students/edit', {class: 'btn btn-info'} %>
          <%= link_to 'Ping', ping_student_path(student), {class: 'btn btn-warning'} %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
